
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#coming_soon{
    width: auto;
    height: 400px;
}

@media screen and (max-width: 600px) {
    #coming_soon{
        width: 90%;
        height: auto;
    }
}